<header>
    <h1>{{pageTitle}}</h1>
    <ul style='list-style-type:none;'>
        <li style='display:inline;margin:0px 10px 0px 10px;'><a href='/'>Home</a></li>
        <li style='display:inline;margin:0px 10px 0px 10px;'><a href='/about'>About</a></li>
        <li style='display:inline;margin:0px 10px 0px 10px;'><a href='/projects'>Portfolio</a></li>
    </ul>  
</header>