<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}}</title>
    </head>
    {{> header}}
    <p>Hello {{screamIt fullName}}, welcome to our website. </p>
    <p>Your hobbies are: {{likes}}.</p>

   {{> footer}}

</html>
